.main-bar{
    margin: 25px 0px;
    padding: 0;

}

.main-bar-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-bar-header h1{
    font-weight: 600;
}

/*.main-bar-header .create-btn{
    padding: 10px 15px;
    border-radius: 4px;
    transition: 0.3s;
}*/

.main-bar-header .create-btn {

    padding: 10px 15px;
    border: solid 1px #00fff6;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    text-decoration: none;
    line-height: -1.25px;
}

.create-btn:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.create-btn:active {
    color: #ffffff
}

.create-btn:active:after {
    background: transparent;
}

.create-btn:hover:before {
    opacity: 1;
}

.create-btn:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

/*.main-bar-header .create-btn:hover{
    background-color: #ffffff;
    color: black;
}*/

.display-post-container{
    min-height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #212121;
    border-bottom: solid 1px #00fff6;
}

.display-post-container .display-votes-com{
    padding: 20px;
    color: #00fff6;
}

.display-post-container .display-votes-com p{
    margin: 0%;
    text-align: center;
    color: white;
}

.display-post-details{
    flex-grow: 1;
    padding: 0px 20px;
}

.post-title-link{
    text-decoration: none;
    color: #ffffff;
    transition: 0.3s;
}

.post-title-link:hover{
    color: #00fff6;
}

.display-post-details p{
    padding: 4px;
    margin: 0%;
}

.display-tags-time .display-tags{
    display: flex;
    flex-wrap: wrap;
}

.display-tags-time{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.display-tags-time .display-tags p{
    margin: 2px;
    padding: 4px;
    font-size: 13px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
}

.display-tags-time .display-time {
    font-size: 13px;
}